<section class="col-xs-12">
	<div class="row text-center col-lg-8 col-lg-offset-2">
		<div class="panel panel-info col-sm-12">
			<a>
			<div class="panel-heading collapsed" (click)="isCollapsed = !isCollapsed" data-target="#openTrades">
				Applicants
			</div>
			</a>
			
			<div class="panel panel-default col-sm-12 text-center" *ngFor = "let trade of trades | filter:{trade_status:'applied',demand_user_id:userID}">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-5">
								{{trade.trade_offer_title}}
						</div>
						<div class="col-xs-2">
							<i class="fa fa-exchange fa-xl" aria-hidden="true"></i>
						</div>
						<div class="col-xs-5">
								{{trade.trade_demand_title}}
						</div>
					</div>
				</div>
				<div class="panel-content">
					<div class="spacer-sm"></div>
					<div class="row">
						<div class="col-xs-5" (click)="goToUserProfile(trade.trade_demand_recipient._id)">
								<a>{{getUserName(trade.trade_demand_recipient)}}</a>
						</div>
						<div class="col-xs-2">
							<i class="fa fa-user-o fa-xl" aria-hidden="true"></i>
						</div>
						<div class="col-xs-5" (click)="goToUserProfile(trade.trade_demand_recipient._id)">
								<a>{{getUserName(trade.trade_offer_recipient)}}</a>
						</div>
					</div>
					<div class="spacer"></div>
					<div class="row">
						<div class="col-xs-12">
								{{trade.trade_deadline | date}}
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
								{{trade.trade_status}}
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
								{{getAdress(trade)}}
						</div>
					</div>
					
					<div class="spacer"></div>
					<i class="fa fa-lg fa-search text-primary sr-icons" (click)="goToTradeDetails(trade._id)"></i>
					<div class="spacer"></div>
					
					<button *ngIf="isMyTradeAppliedFor(trade)" (click)="acceptTradePartner(trade._id, trade)">accept trade</button>
					<button *ngIf="isMyTradeAppliedFor(trade)" (click)="denyTradePartner(trade._id, trade)">deny application</button>
					
					<div class="spacer"></div>
				</div>
			</div>
		</div>
		
		<div class="panel panel-info col-sm-12">
			<a>
			<div class="panel-heading collapsed" (click)="isCollapsed = !isCollapsed" data-target="#openTrades">
				Open Trades
			</div>
			</a>
			
			<div class="panel panel-default col-sm-12 text-center" *ngFor = "let trade of trades | filter:{trade_status:'searching'}">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-5">
								{{trade.trade_offer_title}}
						</div>
						<div class="col-xs-2">
							<i class="fa fa-exchange fa-xl" aria-hidden="true"></i>
						</div>
						<div class="col-xs-5">
								{{trade.trade_demand_title}}
						</div>
					</div>
				</div>
				<div class="panel-content">
					<div class="spacer-sm"></div>
					<div class="row">
						<div class="col-xs-5" (click)="goToUserProfile(trade.trade_demand_recipient._id)">
								<a>{{getUserName(trade.trade_offer_recipient)}}</a>
						</div>
						<div class="col-xs-2">
							<i class="fa fa-user-o fa-xl" aria-hidden="true"></i>
						</div>
						<div class="col-xs-5" (click)="goToUserProfile(trade.trade_demand_recipient._id)">
								<a>{{getUserName(trade.trade_demand_recipient)}}</a>
						</div>
					</div>
					<div class="spacer"></div>
					<div class="row">
						<div class="col-xs-12">
								{{trade.trade_deadline | date}}
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
								{{trade.trade_status}}
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
								{{getAdress(trade)}}
						</div>
					</div>
	
					<div class="spacer"></div>
					<i class="fa fa-lg fa-search text-primary sr-icons" (click)="goToTradeDetails(trade._id)"></i>
					<div class="spacer"></div>
				</div>
			</div>
		</div>
		
		<div class="panel panel-info col-sm-12">
			<a>
			<div class="panel-heading collapsed" (click)="isCollapsed = !isCollapsed" data-target="#pendingTrades">
				Pending Trades
			</div>
			</a>
			
			<div class="panel panel-default well col-xs-12 text-center" *ngFor = "let trade of trades | filter:{trade_status:'applied', offer_user_id:userID}">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-5">
								{{trade.trade_offer_title}}
						</div>
						<div class="col-xs-2">
							<i class="fa fa-exchange fa-xl" aria-hidden="true"></i>
						</div>
						<div class="col-xs-5">
								{{trade.trade_demand_title}}
						</div>
					</div>
				</div>
				<div class="panel-content">
					<div class="spacer-sm"></div>
					<div class="row">
						<div class="col-xs-5" (click)="goToUserProfile(trade.trade_demand_recipient._id)">
								<a>{{getUserName(trade.trade_demand_recipient)}}</a>
						</div>
						<div class="col-xs-2">
							<i class="fa fa-user-o fa-xl" aria-hidden="true"></i>
						</div>
						<div class="col-xs-5" (click)="goToUserProfile(trade.trade_demand_recipient._id)">
								<a>{{getUserName(trade.trade_offer_recipient)}}</a>
						</div>
					</div>
					<div class="spacer"></div>
					<div class="row">
						<div class="col-xs-12">
								{{trade.trade_deadline | date}}
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
								{{trade.trade_status}}
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
								{{getAdress(trade)}}
						</div>
					</div>
					<div class="spacer"></div>
					<i class="fa fa-lg fa-search text-primary sr-icons" (click)="goToTradeDetails(trade._id)"></i>
					<div class="spacer"></div>
				</div>
			</div>
		</div>
		
		<div class="panel panel-info col-sm-12">
			<a>
			<div class="panel-heading collapsed" (click)="isCollapsed = !isCollapsed" data-target="#matchedTrades">
				Matched Trades
			</div>
			</a>
			
			<div class="panel panel-default col-xs-12 text-center" *ngFor = "let trade of trades | filter:{trade_status:'accepted'}">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-5">
								{{trade.trade_offer_title}}
						</div>
						<div class="col-xs-2">
							<i class="fa fa-exchange fa-xl" aria-hidden="true"></i>
						</div>
						<div class="col-xs-5">
								{{trade.trade_demand_title}}
						</div>
					</div>
				</div>
				<div class="panel-content">
					<div class="spacer-sm"></div>
					<div class="row">
						<div class="col-xs-5" (click)="goToUserProfile(trade.trade_demand_recipient._id)">
								<a>{{getUserName(trade.trade_demand_recipient)}}</a>
						</div>
						<div class="col-xs-2">
							<i class="fa fa-user-o fa-xl" aria-hidden="true"></i>
						</div>
						<div class="col-xs-5" (click)="goToUserProfile(trade.trade_demand_recipient._id)">
								<a>{{getUserName(trade.trade_offer_recipient)}}</a>
						</div>
					</div>
					<div class="spacer"></div>
					<div class="row">
						<div class="col-xs-12">
								{{trade.trade_deadline | date}}
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
								{{trade.trade_status}}
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
								{{getAdress(trade)}}
						</div>
					</div>
	
					<div class="spacer"></div>
					<i class="fa fa-lg fa-search text-primary sr-icons" (click)="goToTradeDetails(trade._id)"></i>
					<div class="spacer"></div>
				</div>
			</div>
		</div>
		
	</div>
	
</section>
