

<section class="col-xs-12">
        <div class="text-center">
                <h1>Find interesting Trades</h1>
                <hr>
                <!-- 
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
                -->
                <div class="spacer"></div>
		</div>
	<flash-messages></flash-messages>
	<div class="container col-lg-8 col-lg-offset-2 text-center">
		<div class="panel panel-default">
		<div class="col-xs-12 panel-heading">
			<div>Search
				<div class="pull-right"><i class="fa fa-toggle-dow fa-lg" aria-hidden="true" (click)="isCollapsed = !isCollapsed"></i></div>
			</div>
		</div>
		<form id="searchForm panel-body" (submit)="onSearchClicked()"  [collapse]="isCollapsed">
		<div class="spacer col-xs-12"></div>
			<div class="col-sm-12 col-lg-6">
				 <div class="form-group">
					<label>Offer Title</label>
					<input type="text" [(ngModel)]="trade_offer_title" name="trade_offer_title" class="form-control" placeholder="Enter an offer titel">
				</div>
				 <div class="form-group">
					<label>Offer Category</label>
					<select type="text"  [(ngModel)]="trade_offer_categorie" name="trade_offer_categorie" class="form-control" >
					  <option value="" disabled selected>Select a category</option>
					  <option value="Cleaning"></option>
					  <option value="Cleaning">Cleaning</option>
					  <option value="Crafting">Crafting</option>
					  <option value="Garden">Garden</option>
					  <option value="Housework">Housework</option>
					  <option value="Mechanical">Mechanical</option>
					  <option value="Social">Social</option>
					  <option value="Technology">Technology</option>
					  <option value="Other">Technology</option>
					</select>
				</div>
				 <div class="form-group">
					<label>Offer Tags</label>
					<input type="text" [(ngModel)]="trade_offer_tags" name="trade_offer_tags" class="form-control" placeholder="Enter tags to search for (separeted by ',')">
				</div>
			</div>
			<div class="col-sm-12 col-lg-6">
				<div class="form-group">
					<label>Demand Title</label>
					<input type="text" [(ngModel)]="trade_demand_title" name="trade_demand_title" class="form-control" placeholder="Enter a demand titel">
				</div>
				<div class="form-group">
					<label>Demand Category</label>
					<select type="text" [(ngModel)]="trade_demand_categorie" name="trade_demand_categorie" class="form-control">
					<option value="" disabled selected>Select a category</option>
						<option value="Cleaning"></option>
						<option value="Cleaning">Cleaning</option>
						<option value="Crafting">Crafting</option>
						<option value="Garden">Garden</option>
						<option value="Housework">Housework</option>
						<option value="Mechanical">Mechanical</option>
						<option value="Social">Social</option>
						<option value="Technology">Technology</option>
						<option value="Other">Technology</option>
					</select>
				</div>
				<div class="form-group">
					<label>Demand Tags</label>
					<input type="text" [(ngModel)]="trade_demand_tags" name="trade_demand_tags" class="form-control" placeholder="Enter tags to search for (separeted by ',')">
				</div>
			</div>
		<input type="submit" class="btn btn-primary rightButton" value="Search">
		<div class="spacer"></div>

  
		</form>
		</div>
		
		<div class="well col-xs-12 text-center" *ngFor = "let trade of trades">
			<div class="col-xs-12 text-center">
				<div class="row">
					<div class="col-xs-5">
							{{trade.trade_offer_title}}
					</div>
					<div class="col-xs-2">
						<i class="fa fa-exchange fa-xl" aria-hidden="true"></i>
					</div>
					<div class="col-xs-5">
							{{trade.trade_demand_title}}
					</div>
				</div>
				<div class="spacer-sm"></div>
				<div class="row">
					<div class="col-xs-5" (click)="goToUserProfile(trade.trade_demand_recipient._id)">
							<a>{{getUserName(trade.trade_demand_recipient)}}</a>
					</div>
					<div class="col-xs-2">
						<i class="fa fa-user-o fa-xl" aria-hidden="true"></i>
					</div>
					<div class="col-xs-5" (click)="goToUserProfile(trade.trade_demand_recipient._id)">
							<a>{{getUserName(trade.trade_offer_recipient)}}</a>
					</div>
				</div>
				<div class="spacer"></div>
				<div class="row">
					<div class="col-xs-12">
							{{trade.trade_deadline | date}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
							{{trade.trade_status}}
					</div>
				</div>
				
				<i class="fa fa-lg fa-search text-primary sr-icons" (click)="goToTradeDetails(trade._id)"></i>

			</div>
		</div>
	</div>	
</section>