#ratingContainer {
	font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif;
	webkit-tap-highlight-color: #222;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #FFFFFF;
	background-color: rgba(0,0,0,0.5);
	padding: 10px 20px 40px 20px;
}

<<<<<<< HEAD

@media (min-width: 1200px) {
	.container{
		max-width: 870px;
	}
	.top-buffer { margin-top:30px; }
	.top-buffer-container { margin-top:100px; }
=======
.labelColor{
    color: #02C5FF;
}

.spacer { 
margin:15px; 
padding:0;  
}

.bottomSpacer { 
margin:0; 
padding:0; 
height:50px; 
}

.top-spacer { 
margin-top:40px; 
>>>>>>> main
}