<section>

<div *ngIf="user">
	<div class="container text-center">
		<h1>My Profile</h1>
		<hr>
		<div class="row">
		  <div class="col-sm-3 col-sm-offset-3"><h3>Username: {{user.username}}</h3></div>
		  <div class="col-sm-3"><h3>Email: {{user.email}}</h3></div>
		 </div>
		 <hr>
		 <div class="container" id="ratingContainer">

			<div class="row">
				<div class="col-sm-4">
					<h3>Punctuality: {{punctuality}}</h3>
					<star-rating-comp [starType]="'svg'" [rating]=punctualityString [showHalfStars]="true" [readOnly]="true" [size]="'large'"></star-rating-comp>
				</div>
				<div class="col-sm-4">
					<h3>Quality: {{punctuality}}</h3>
					<star-rating-comp [starType]="'svg'" [rating]=work_qualityString [showHalfStars]="true" [readOnly]="true" [size]="'large'"></star-rating-comp>
				</div>
				<div class="col-sm-4">
					<h3>Responsiveness: {{responsiveness}}</h3>
					<star-rating-comp [starType]="'svg'" [rating]=responsivenessString [showHalfStars]="true" [readOnly]="true" [size]="'large'"></star-rating-comp>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<h3>Duration: {{duration}}</h3>
					<star-rating-comp [starType]="'svg'" [rating]=durationString [showHalfStars]="true" [readOnly]="true" [size]="'large'"></star-rating-comp>
				</div>
				<div class="col-sm-4">
					<h3>Reliability: {{reliability}}</h3>
					<star-rating-comp [starType]="'svg'" [rating]=reliabilityString [showHalfStars]="true" [readOnly]="true" [size]="'large'"></star-rating-comp>
				</div>
				<div class="col-sm-4">
					<h3>Friendliness: {{friendliness}}</h3>
					<star-rating-comp [starType]="'svg'" [rating]=friendlinessString [showHalfStars]="true" [readOnly]="true" [size]="'large'"></star-rating-comp>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h3>Number of Ratings: {{ratingCount}}</h3>
				</div>
			</div>
	</div>
</div>
</div>

</section>

