<section>
<div *ngFor = "let trade of trades">
	
	<h4>Offer</h4>
	<p>trade_offer_title={{trade.trade_offer_title}}</p>
	<p>trade_offer_description={{trade.trade_offer_description}}</p>
	<p>trade_offer_categorie={{trade.trade_offer_categorie}}</p>
	<p>trade_offer_recipient={{trade.trade_offer_recipient}}</p>
	<p>trade_offer_tags={{trade.trade_offer_tags}}</p>
	
	<h4>Demand</h4>
	<p>trade_demand_title={{trade.trade_demand_title}}</p>
	<p>trade_demand_description={{trade.trade_demand_description}}</p>
	<p>trade_demand_categorie={{trade.trade_demand_categorie}}</p>
	<p>trade_demand_recipient={{trade.trade_demand_recipient}}</p>
	<p>trade_demand_tags={{trade.trade_demand_tags}}</p>
	
	<h4>General</h4>
	<p>trade_deadline={{trade.trade_deadline}}</p>
	<p>trade_min_rating={{trade.trade_min_rating}}</p>
	<p>trade_latitude={{trade.trade_latitude}}</p>
	<p>trade_longitude={{trade.trade_longitude}}</p>
	<p>trade_max_distance={{trade.trade_max_distance}}</p>
	<p>trade_status={{trade.trade_status}}</p>
	
	
<button (click)="goToRateTrade(trade._id)">rate trade</button>
<button *ngIf="isMyTrade()" (click)="deleteTrade(trade._id)">delete trade</button>
<button *ngIf="isOpenForMe()" (click)="applyForTrade(trade._id)">apply for trade</button>
</div>

</section>
