<div class="row">
  <div class="service-box text-center">
    <h2 class="section-heading">Register and start trading!</h2>
    <flash-messages></flash-messages>
    <form (submit)="onRegisterSubmit()">
      <div class="form-group">
        <label>Name</label>
        <input type="text" [(ngModel)]="name" name="name" class="form-control" maxlength="20">
      </div>
      <div class="form-group">
        <label>Username</label>
        <input type="text" [(ngModel)]="usernameR" name="usernameR" class="form-control" maxlength="12">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" [(ngModel)]="email" name="email" class="form-control" maxlength="30">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" [(ngModel)]="passwordR" name="passwordR" class="form-control" maxlength="30">
      </div>
      <input type="submit" class="btn btn-default btn-xl sr-button" value="Register">
    </form>
    <div class="service-box">
    </div>
  </div>
</div>
