<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">Neighbor trade</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse" [collapse]="isCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!authService.loggedIn()">
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li *ngIf="!authService.loggedIn()">
          <a class="page-scroll" href="#services">Services</a>
        </li>
        <li *ngIf="!authService.loggedIn()">
          <a class="page-scroll" href="#portfolio">Portfolio</a>
        </li>
        <li *ngIf="!authService.loggedIn()">
          <a class="page-scroll" href="#contact">Contact</a>
        </li>
        <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/dashboard']">Dashboard</a></li>
        <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/my-profile']">My Profile</a></li>
        <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/trades']">Trades</a></li>
        <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/new-trade']">New Trade</a></li>
        <li *ngIf="authService.loggedIn()"><a (click)="onLogoutClick()" href="#">Logout</a></li>

      </ul>
      
    </div>
  </div>

</nav>