<section id="rate-trade-background">
<div  *ngFor = "let trade of trades" >

	<div *ngFor = "let trade of trades" >
		<div class="row" >
			<div class="col-md-2"></div>
			<div class="col-md-4" align="center">
				<div class="panel panel-default" >
					<div class="col-xs-12 panel-heading">
						<h3>Offer</h3>
					</div>
					<p><b>{{trade.trade_offer_title}}</b></p>
					<p>{{trade.trade_offer_description}}</p>
					<p>Category: {{trade.trade_offer_categorie}}</p>
					<p (click)="goToUserProfile(getUserID(trade.trade_demand_recipient))">User: <a>{{getUserName(trade.trade_demand_recipient)}}</a></p>
					<p>Tags: {{trade.trade_offer_tags}}</p>
				</div>
			</div>
			<div class="col-md-4" align="center">
				<div class="panel panel-default" >
					<div class="col-xs-12 panel-heading">
						<h3>Demand</h3>
					</div>
					<p><b>{{trade.trade_demand_title}}</b></p>
					<p>{{trade.trade_demand_description}}</p>
					<p>Category: {{trade.trade_demand_categorie}}</p>
					<p (click)="goToUserProfile(getUserID(trade.trade_offer_recipient))">User: <a>{{getUserName(trade.trade_offer_recipient)}}</a></p>
					<p>Tags: {{trade.trade_demand_tags}}</p>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>



	<form (submit)="onRegisterSubmit(trade._id)">
<div class="container top-buffer img-rounded" id="rate-trade">
	<div class="row">
	<div class="col-sm-4">
		<div class="form-group focus">
			<h3 align="center">Puncuality</h3>
			<star-rating-comp [labelText]="'My text!'" [starType]="'svg'" [labelText]="'Puncuality'" [labelPosition]="'left'" [size]="'large'" [rating]="0" (onRatingChange)="onPunctualityRatingChange($event)"></star-rating-comp> 
		</div>
	</div>

	<div class="col-sm-4">
		<div class="form-group">
			<h3 align="center">Quality of work</h3>
			<star-rating-comp [starType]="'svg'" [size]="'large'" [rating]="0" (onRatingChange)="onQualityRatingChange($event)"></star-rating-comp>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="form-group">
			<h3 align="center">Responsiveness</h3>
			<star-rating-comp [starType]="'svg'" [size]="'large'" [rating]="0" (onRatingChange)="onResponsivenessRatingChange($event)"></star-rating-comp>
		</div>
	</div>
</div>
  
	<div class="row top-buffer">
	<div class="col-sm-4">
		<div class="form-group">
			<h3 align="center">Duration</h3>
			<star-rating-comp [starType]="'svg'" [size]="'large'" [rating]="0" (onRatingChange)="onDurationRatingChange($event)"></star-rating-comp>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<h3 align="center">Reliability</h3>
			<star-rating-comp [starType]="'svg'" [size]="'large'" [rating]="0" (onRatingChange)="onReliabilityRatingChange($event)"></star-rating-comp>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="form-group">
			<h3 align="center">Friendlines</h3>
			<star-rating-comp [starType]="'svg'" [size]="'large'" [rating]="0" (onRatingChange)="onFriendlinessRatingChange($event)"></star-rating-comp>
		</div>
	</div>
</div>

<div class="row top-buffer">
		<div class="col" align="center">
			<input type="submit" class="btn btn-primary rightButton" value="Submit">
		</div>
	</div>
</div>
</form>
</div>
</div>
</section>


