#new-trade {
	font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif;
	webkit-tap-highlight-color: #222;
	background-image: url(../../../assets/NewTradeBackground.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #FFFFFF;
}
.sebm-google-map-container {
	height: 300px;
}

